:root{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    --background: #f3ebcd;
    --main-color: hsl(46, 57%, 62%);
    --contrast-color: #dfdfe6;
    --body-text: #977a18;
    --new-background: rgb(75, 59, 59);

}
/* Basic text settings */
* {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
}

body {
    height: 100%;
    background-color: var(--new-background) ;
}

.navbar{
    background-color: rgb(75, 59, 59) !important;
}
.navbar-brand{
    margin-left: 20px;
    margin-right: 60vw;
    font-size: 1.5em;
    color: var(--background) !important;
}

.nav-link{
    color: var(--background) !important;
}

.carousel{
    height: 30vh !important;
    background-color: var(--background);
}

.carousel-inner{
    height: 100%;
    background-color: var(--background);
}

.carousel-item{
    height: 100%;
    background-color: var(--background);
}

.sr-only{
    color: var(--new-background);
}

.carou-cap{
    color: var(--new-background) !important;
    background-color: var(--main-color);
    border: solid black 1px;
    width: 150px;
    height: 36px;
    margin: 0 auto;
    text-align: center;
    bottom: 0;
    
}


.car-img{
    height: 100% !important;
    width: auto !important;
    margin: 0 auto !important;
}


#subheader h2:hover + #me-photo,
#subheader h2:focus + #me-photo {
 display: inline-block;
  
}


header nav {
    position: relative;
    display: block;
    right: 40px;
    top: 40px;
    margin-left: 60px;
}

.navbar-nav{
   display: flex;
   justify-content: right;
}

/* background image for subheader */
#subheader{
    width: 100%;
    height: 130px;
    background-image: url(./images/alt-background-img.png);
    background-position: bottom 80% right 20%;
  
   
}
/* subheader text */
#subheader h2{
    position: absolute;
    top: 140px;
    right: 70px;
    font-size: 1.7em;
    text-align: right;
    background-color: var(--main-color);
    color: var(--contrast-color);
    text-decoration: underline;
    cursor: grab;

    
}
/* a grid to divide the section titles from their respective content. */
.grid-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
}
/* section titles */
.side-text{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 3em;
    text-align: right;
    margin-right: 30px;
    color: var(--background);

}
/* Places the section contents to the right of the titles, creates dashed border. */
.central-content{
    grid-column-start: 2;
    grid-column-end: 3;
    border-left: 4px dashed var(--main-color);
    padding-left: 40px;
    color: var(--background);


}

section {
    margin-bottom: 2em;
}
/* Creates a sub-grid for the diffrent apps in the portfolio */
#apps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
}

#app1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
}


#app2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#app3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3 ;
    grid-row-end: 4;
}

#app4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#app5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.app-imgs {
    position:relative;
    width: 100%;
    height: 90%;
    filter:blur(2px);
    margin-right: 50px;
    padding: 15px;
    cursor: grab;

}
/* removes blur from hovered/focused images */
.app-imgs:hover,
.app-imgs:focus{
    filter: blur(0);
}
/* titles of the apps */
.app-title{
color: var(--body-text);
background-color: var(--main-color);
display: inline-block;
z-index: 1;
position: relative;
left: 14px;
bottom: 150px;
font-size: 1.7em;
font-weight: 700;
padding: 20px 30px;
border-top: 2px solid var(--body-text);
border-bottom: 2px solid var(--body-text);
border-right: 2px solid var(--body-text);
}

/* orders the ul of contact info */
#contact-contain{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* a bit of a misnomer. They're not all links. */
.contact-links {
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline var(--main-color) 2px;
    color: var(--contrast-color);
}

/* Keeps the contact me section from smashing against the bottom */
#contact-me{
    padding-bottom: 70px;
}

/* Adjustments made for tablets  */
@media screen and (max-width: 992px) {
   main{
       width: 95%;
   }
   header{
       height:150px;
   }

   #wrap-header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    }

    #h1-box{
    background-color: var(--main-color);
    position: relative;
    top: 7px;
    padding: 7px 10px 7px 10px;
    margin: 0 25%;
    }


    header nav {
        position: relative;
        display: block;
        bottom: .5em;
        margin: 0 25% 0 30%;

    }

    #subheader{
        height: 100px;

       
    }
    
    #subheader h2{
        position: relative;
        font-size: 1.4em;
        top: 1em;
        right: auto;
        text-align: center;
        width: 30%;
        margin: 0 auto;
        display: block;
        
    }

    .side-text{
        font-size: 2em;
        text-align: right;
    
    }
    
    .contact-links {
        font-size: .8em;
        font-weight: 600;
    }

    .app-title{
        font-size: 1.2em;
        }


  }
  
  /* Adjustments made for large smartphones*/
  @media screen and (max-width: 768px) {
   
    header{
        height:140px;
    }
 

     header h1 {
         font-size: 2.5em;
     }
 
     #h1-box{
     background-color: var(--main-color);
     position: relative;
     top: 7px;
     padding: 7px 10px 7px 10px;
     margin: 0 25%;
     }
 
 
     header nav {
         position: relative;
         display: block;
         bottom: .5em;
         margin: 0 25% 0 30%;
 
     }
 
     #subheader{
         height: 80px;
 
        
     }
     
     #subheader h2{
         position: relative;
         font-size: 1.2em;
         top: 1em;
         right: auto;
         text-align: center;
         width: 30%;
         margin: 0 auto;
         display: block;
         
     }
 
     .side-text{
         font-size: 2em;
         text-align: right;
     
     }
     
     .contact-links {
         font-size: .8em;
         font-weight: 600;
     }
 
     .app-title{
         font-size: 1.2em;
         }
 

    .app-title{
        font-size: .8em;
       
        }

    .side-text{
        font-size: 1.5em;
    
    }

    .contact-links {
        font-size: .7em;
        font-weight: 500;
    }
  }
  
  /* Adjustments made for small smartphones */
  @media screen and (max-width: 576px) {

    header{
        height: 120px;
    }

    header h1 {
        font-size: 1.4em;
    }

    #subheader h2{
        font-size: 1em;
        
    }
    nav a {
        font-size: 1em;
    }

    header nav{

        margin-left: 37%;
    }

    nav ul{
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
    
    #about-me-text{
        font-size: .7em;
    }

    .app-title{
        font-size: .7em;
        padding: 10px 15px;
        }

    .side-text{
        font-size: 1em;
        margin-right: 10px;
    }

    #contact-contain{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .contact-links{
        font-size: .7em;
        line-height: 3em;
       
    }

    
  }